name: Generate Keystore

on:
  workflow_dispatch:

jobs:
  keystore:
    runs-on: ubuntu-latest

    steps:
      - name: Generate keystore
        run: |
          keytool -genkeypair \
            -alias calculatorkey \
            -keyalg RSA \
            -keysize 2048 \
            -validity 10000 \
            -keystore keystore.jks \
            -storepass mypassword \
            -keypass mypassword \
            -dname "CN=Calculator, OU=Dev, O=Calculator, L=World, S=World, C=WW"

      - name: Upload keystore
        uses: actions/upload-artifact@v4
        with:
          name: keystore
          path: keystore.jks
